* {
    margin: 0;
    padding: 0;
}

.svg_file {
    position: absolute;
    left: 0;
    top: 0;
}

.player {
    height: 100vh;
    background: #060a3d;
    /*background: url("../svg/bg.jpg");*/
    overflow: hidden;
}

.header {
    text-align: center;
    color: white;
    height: 110px;
}

.header > h1 {
    font-size: 20px;
    padding-top: 20px;
}

.header > p {
    color: #868aaf;
    font-size: 12px;
}

.header > .spots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.header > .spots > .spots_selection {
    width: 8px;
    height: 8px;
    background: #db3baa;
    border-radius: 50%;
}

.header > .spots > span {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #6a134f;
    margin: 0 8px;
}

.main {
    height: calc(100vh - 270px);
    display: flex;
    width: 200vw;
    overflow: hidden;
    transition: transform .3s;
}

.main_1 {
    transform: translateX(0);
}

.main_2 {
    transform: translateX(-100vw);
}

.main > .svg-list {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main > .svg-lyrics {
    width: 100vw;
    height: calc(100% - 40px);
    text-align: center;
    overflow: hidden;
    color: white;
}

.svg_lyrics_main {
    transition: all 0.4s;
    transform: translateY(0);
}

.svg_lyrics_main > p {
    color: #868aaf;
    line-height: 2;
    font-size: 14px;
}

.svg_lyrics_main > .lyrics_flg {
    color: #fff;
}

.main > .svg-list > .svg-main {
    height: 40vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-1, .svg-2, .svg-3 {
    position: absolute;
}

.svg-main > .svg-1 {
    background: url("../svg/effect-no-move.svg") no-repeat;
    height: 70vw;
    width: 70vw;
    animation: rotate_animation 20s linear infinite;
}

.svg-main > .svg-2 {
    background: url("../svg/effect-move1.svg") no-repeat;
    width: 60vw;
    height: 60vw;
    animation: rotate_animation 10s linear infinite reverse;
}

.svg-main > .svg-3 {
    background: url("../svg/effect-move2.svg") no-repeat;
    width: 24vw;
    height: 24vw;
    animation: rotate_animation 10s linear infinite;
}

@keyframes rotate_animation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
}

.lyric {
    width: 100vw;
    height: 54px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.lyric p {
    margin-top: 8px;
}

.lyric > :last-child {
    color: #868aaf;
}

.footer {
    height: 160px;
}

.control_one {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.control_one > svg {
    height: 24px;
    width: 24px;
    margin: 0 20px;
}

.control_two {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px;
}

.control_two > .star_time, .end_time {
    width: 40px;
    color: #868aaf;
    font-size: 12px;
    text-align: center;
}

.control_two > .star_time {
    order: 1;
}

.control_two > .bar {
    order: 2;
    height: 4px;
    flex: 1;
    background: #0025f1;
    position: relative;
    margin: 0 10px;
}

.control_two > .end_time {
    order: 3;
}

.bar > .speed {
    transition: all .2s;
    height: 100%;
    width: 0;
    border-radius: 2px;
    background: #db3baa;
    position: relative;
    /*进度原理：根据音乐进度speed宽度随着增加，宽度增加会撑着speed::after随之往后*/
}

.bar > .speed::after {
    content: '';
    position: absolute;
    top: -7px;
    right: -8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: url("../svg/progress.svg") no-repeat;
}

.footer > .control_three {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 40px;
}

.footer > .control_four {
    height: 100vh;
    width: 100vw;
    background: black;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

.footer > .control_four > div {
    position: relative;
    bottom: -50%;
    width: 100%;
    height: 50%;
    background: #f8f8f8;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.control_four > .play_list > ul  {
    padding: 20px;
}

.control_four > .play_list > ul > li {
    margin-bottom: 10px;
    list-style: none;
}

.li_active{
    color: red;
}

.footer > .control_four_close {
    display: none;
}

.footer > .control_four_open {
    display: block;
}

.control_three > .icon-order, .icon-pre, .icon-next, .icon-list {
    width: 28px;
    height: 28px;
}

.control_three > .icon-play {
    width: 50px;
    height: 50px;
}